/* link for font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap");

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif; */
  padding: 10px;
}
img {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  border-radius: 5px;
}
section {
  margin: 40px 0;
}
.clr_one {
  color: #fff;
}
.clr_two {
  color: #070211;
}
.clr_three {
  color: #ddd;
}
.clr_four {
  color: #f00;
}

/* css for header section */

.header_section {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 5px;
  margin-top: 0 !important;
}
.header_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}
.header_text {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Merriweather", serif;
}
.header_title {
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
  font-family: "Merriweather", serif;
}

/* css for categories section */
.categories_container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.categories_text {
  margin-bottom: 50px;
}
.categories_text > h1 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.categories_text > h1 > .percent {
  color: rgb(5, 70, 83);
}
.categories_text > h1 > .off {
  color: #d4205c;
}
.categories_text h5 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}
.categories_text > h5 > span {
  color: #9a0466;
}
.categories_text h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.categories_text > h3 > span {
  color: #d4205c;
}

/* css for mid-night party */

.party_section {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.mid_night_text_container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.mid_night_text_container h1 {
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}
.mid_night_text_container p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 30px 0;
  line-height: 40px;
}
.mid_night_text_container > a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
}
.mid_night_text_container > a:hover {
  color: #f00;
  transition: 0.5s all;
  border: 1px solid #fff;
  padding: 16px 32px;
  border-radius: 5px;
}

/* css for venue section */
.venue_section {
  background-color: rgb(255, 245, 245);
  border-radius: 5px;
}
.venue_text {
  padding-top: 50px;
  padding-bottom: 70px;
}
.venue_section > div > h4 > span {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}
.venue_section > div > h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
}
.venue_section > div > h4 > button {
  margin-top: 40px;
  /* margin-bottom: 70px; */
  border: none;
  color: #fff;
  background-color: #f00;
  padding: 16px 32px;
  font-weight: 800;
}
.venue_section > div > h4 > button:hover {
  color: #f00;
  background-color: #fff;
  transition: 0.5s all;
}

/* css for new_best_offer */
.new_best_offer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.offer_column_one {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
}
.offer_column_one div {
  width: 330px;
}
.offer_column_one h4 {
  color: #f00;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}
.offer_column_one h2 {
  color: #070211;
  font-size: 40px;
  font-weight: 800;
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 30px 0;
}
.offer_column_one p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
}

.offer_column_two {
  flex-basis: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.offer_column_two div {
  width: 330px;
  height: 330px;
  border: 10px solid #f00;
  border-radius: 463px;
  position: relative;
}
.offer_column_two img {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer_column_three {
  flex-basis: 30%;
}
.offer_column_three div {
  width: 330px;
}
.offer_column_three h2 {
  color: #f00;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: start;
}
.offer_column_three p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  text-align: start;
  width: 200px;
  margin: 20px 0;
}
.offer_column_three img {
  width: 100px;
}

/* css for holiday_off section */
.holiday_text_container {
  margin-top: 100px;
}
.holiday_text_container > h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.holiday_text_container > h2 {
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  margin: 20px 0;
}
.holiday_text_container > h2 > .holidays {
  color: #f00;
}
.holiday_text_container > h2 > .percent {
  font-family: "Merriweather", serif;
}
.holiday_text_container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  margin: 5px auto;
}
/* .holiday_images {
  position: relative;
  height: 45vh;
}
.group_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}
.group_img > .group_1,
.group_img > .group_2 {
  flex-basis: 50%;
}

.group_img > img {
  width: 350px;
  height: auto;
}
.off_sec {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, 30%);
}
.off_sec > img {
  width: 200px;
  height: 200px;
} */

/* css for Awesome_portfolio_section */
.awesome_portfolio_section > .portfolio_text_container {
  padding: 50px 0;
}
.portfolio_text_container > h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.portfolio_text_container > h2 {
  color: #070211;
  font-family: "Merriweather", sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 15px 0;
}
.portfolio_text_container > P {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 500px;
}
.first_item_container img,
.second_item_container img {
  width: 350px;
  flex-basis: 30%;
  padding: 20px;
}
.first_item_container img:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}
.first_item_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.second_item_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.second_item_container img:hover {
  transform: scale(1.1);
  transition: 0.5s all;
}

/* css for newsletter section */
.newsletter_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 245, 245);
  padding-top: 100px;
  padding-bottom: 150px;
  border-radius: 5px;
}
.newsletter_wrapper img {
  width: 100px;
  margin: 30px 0;
}
.newsletter_wrapper h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 800;
  font-family: "Merriweather", sans-serif;
}
.newsletter_wrapper p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 20px 0;
}
.newsletter_input input {
  padding: 20px 50px;
  border: none;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  outline: none;
}
.newsletter_input span {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #f00;
  padding: 12px 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/*  css for footer section */
.footer_section {
  background-color: #070211;
  padding: 100px 0;
}
.first_foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}
.first_foot address {
  color: #fff;
}
.first_foot_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.first_foot_right img {
  width: 20px;
}
.first_foot_right a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.second_foot {
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px auto;
}
.second_foot img {
  width: 40px;
}
.third_foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.third_foot h6 {
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
