/* link for font family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap");

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif; */
}
img {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  border-radius: 5px;
}
section {
  margin: 40px 0;
}
.clr_one {
  color: #fff;
}
.clr_two {
  color: #070211;
}
.clr_three {
  color: #ddd;
}
.clr_four {
  color: #f00;
}

/* css for header section */

.header_section {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 5px;
}
.header_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}
.header_text {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Merriweather", serif;
}
.header_title {
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
  font-family: "Merriweather", serif;
}

/* css for categories section */
.categories_container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.categories_text {
  margin-bottom: 50px;
}
.categories_text > h1 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.categories_text > h1 > .percent {
  color: rgb(5, 70, 83);
}
.categories_text > h1 > .off {
  color: #d4205c;
}
.categories_text h5 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}
.categories_text > h5 > span {
  color: #9a0466;
}
.categories_text h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.categories_text > h3 > span {
  color: #d4205c;
}

/* css for mid-night party */

.party_section {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.mid_night_text_container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.mid_night_text_container h1 {
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}
.mid_night_text_container p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 30px 0;
  line-height: 40px;
}
.mid_night_text_container > a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
}
.mid_night_text_container > a:hover {
  color: #f00;
  transition: 0.5s all;
  border: 1px solid #fff;
  padding: 16px 32px;
  border-radius: 5px;
}

/* css for venue section */
.venue_section {
  background-color: rgb(255, 245, 245);
  border-radius: 5px;
}
.venue_text {
  padding-top: 50px;
  padding-bottom: 70px;
}
.venue_section > div > h4 > span {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}
.venue_section > div > h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
}
.venue_section > div > h4 > button {
  margin-top: 40px;
  /* margin-bottom: 70px; */
  border: none;
  color: #fff;
  background-color: #f00;
  padding: 16px 32px;
  font-weight: 800;
}
.venue_section > div > h4 > button:hover {
  color: #f00;
  background-color: #fff;
  transition: 0.5s all;
}
